{% extends "user_base.html" %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-md-12"><p></p></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="{% url 'images.views.uploadImage' %}">
                <div class="panel panel-default">
                  {% csrf_token %}
                  <div class="panel-heading">
                      <h4><strong>Upload Images</strong></h4>
                  </div>
                  <div class="panel-body">
                      <div class="form-group">
                          <label for="image" class="col-sm-3 col-md-2 col-lg-2 control-label">Images:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10">
                              <input type="file" id="image" name="image" accept="image/*" multiple="multiple" required/>
                              <span class="help-block">CTRL+Click to select multiple files</span>
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="form-group" id="privacyOptions">
                          <label for="visibility" class="control-label col-sm-3 col-md-2 col-lg-2">Viewable by:</label>
                          <div class="col-sm-3 col-md-2 col-lg-2">
                            <select id="visibility" name="visibility" class="form-control">
                            {% for option in visibilities %}
                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          <label for="visibilityExceptions" class="control-label col-sm-1 col-lg-1" style="text-align: center">and</label>
                          <div class="col-sm-3 col-md-4">
                              <input type="text" class="form-control"
                               id="visibilityExceptions"
                               name="visibilityExceptions"
                               placeholder="Enter names(s) separated by spaces"/>
                          </div>
                      </div>
                      <div class="form-group" id="uploadButton">
                          <div class="col-sm-offset-5 col-sm-1 col-md-offset-6 col-lg-offset-8">
                              <input type="submit" id="upload" value="Upload"/>
                          </div>
                      </div>
                  </div>
                </div>
            </form>
        </div>
     </div>
</div>
{% endblock %}
