<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DogeNode</title>

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}css/base.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top dogenode-header">
      <div class="navbar-header">
        <p>DogeNode
          <small> The only real way to live in the virtual world</small>
        </p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        {% block side-nav %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
              <form method="post" action="/author/search_results/"
               class="pull-down  navbar-search">
                {%  csrf_token %}
                <div class="form-group">
                  <input name="username" type="search"
                   class="form-control"placeholder="find author" />
                </div>
              </form>
            </li>
            <li><a href="{% url 'author.views.stream' %}">My Stream</a></li>
            <li><a href="/author/profile/{{ author_id }}">My Profile</a></li>
            <li><a href="{% url 'author.views.friends' %}">Manage Friends</a></li>
            <li><a href="/author/{{ author_id }}/posts/">Manage Posts</a></li>
            <li><a href="{% url 'author.views.logUserOut' %}">Logout</a></li>
          </ul>
        </div>
        {% endblock %}

        {% block body %}

        {% endblock %}
      </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual fills as needed -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
