{% extends "base.html" %}

{% block side-nav %}
    <div class="search-box">
        <form method = "post" action="" class = "pull-down  navbar-search">
                <input name="username" type="search" placeholder="find friend" />
                <button type ="button"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
    <hr class="search-hr" /> 
    <h3 class="nav-title"> My Panel </h3>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/author/stream/">My Stream</a></li>
        <li><a href="/author/">My Profile</a></li>
        <!-- <li><a href="/author/<authorid>/">My Profile</a></li> -->
        <li><a href="/author/friends/">Manage Friends</a></li>
        <li><a href="/author/posts/">Manage Posts</a></li>
        <li><a href="/login/logout">Logout</a></li>
    </ul>
{% endblock %}
