{% extends "user_base.html" %}

{% block body %}
<form>  
  <input type="submit" value="Save Changes" class="button-links"/>
<section>
  <header>
    <h1> Doge </h1>  <!-- {  USERNAME }  -->
  </header>

  <div class="profile-img clear-left">
    <img src="{{STATIC_URL}}images/doge.jpeg" alt="dogey"/>
  </div>

    <div class="form-group">
      <label for="aboutMe"><h2 class="content-title">
      About Me</h2></label>
      <textarea  class="form-control" name="aboutMe" id="aboutMe"
      cols="40" rows="10">

    Hello. You are probably not reading this. Why? Because why would you? But if this was an alternate universe
      and you were actually reading this, you should know, that the computer science building gets very creepy
      at night...very sketchy.
      </textarea>
    </div>


<!-- GET DATA FROM DATABASE HERE -->
  <div class=" clear-left user-info-form">
    <h3> Account Information </h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username"
      placeholder="GET NAME FROM DATAEBASE"/>
    </div>

    <div class="form-group"> 
        <label for="oldPassword">Current Password</label>
        <input type="text" class="form-control" name="oldPassword" id="oldPassword"/>
	<br />
        <label for="newPassword">New Password</label>
        <input type="text" class="form-control" name="newPassword" id="newPassword"/>
    </div>
  </div>

</form>
</section>
{% endblock %}
