{% extends "user_base.html" %}

{% block body %}
    <script type="text/javascript">

        $(document).ready(function() {
            /* the CSRF stuff is from:
             * https://docs.djangoproject.com/en/1.6/ref/contrib/csrf/#ajax
             * TODO: find a better way to do this cleanly...
             */
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            /* Sends an AJAX request to the server to change the relationship
             * of 2 authors. Removes and adds corresponding rows to front end
             * relationship tables.
             *
             * Takes as event data:
             * {currentRelationship: <"Friend"|"Following"|"Follower">
             */
            function changeRelationship(event) {
                // Ugly jQuery to get the user off the table row
                var user = $($(event.target).parent().parent().children()[0]).children()[0].innerHTML;
                var relationship = event.data.currentRelationship;
                $.ajax({
                    type: "POST",
                    url: "/author/relationship/" + user + "/",
                    data: {"relationship": relationship},
                    success: function(request) {
                        $(event.target).parent().parent().remove();

                        if (relationship !== "Following") {
                            var newRowTable = '';
                            var newRowClass = '';
                            var newRowValue = '';

                            if (relationship === "Friend") {
                                newRowTable = "followersTable";
                                newRowClass = "befriend";
                                newRowValue = "Befriend";
                            } else if (relationship === "Follower") {
                                newRowTable = "friendsTable";
                                newRowClass = "unfriend";
                                newRowValue = "Unfriend";
                            }

                            //TODO: the dynamically created hyperlink isn't brown
                            $("#" + newRowTable + " tr:last").after('<tr><td><a href="/author/profile/' + user + '">' + user + '</a></td><td><input class="' + newRowClass + '" type="submit" value="' + newRowValue + '"></td></tr>');

                        }
                    },
                    error: function() {
                        //console.log("error");
                    }
                });
                return false;
            }
            //$(".unfriend").click({currentRelationship: "Friend"}, changeRelationship);
            //$(".unfollow").click({currentRelationship: "Following"}, changeRelationship);
            //$(".befriend").click({currentRelationship: "Follower"}, changeRelationship);
            $(document).on("click", ".unfriend", {currentRelationship: "Friend"}, changeRelationship);
            $(document).on("click", ".unfollow", {currentRelationship: "Following"}, changeRelationship);
            $(document).on("click", ".befriend", {currentRelationship: "Follower"}, changeRelationship);
        });

    </script>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h1 class="content-title">Friends, Following & Followers</h1>

        <h2 class="sub-header">Your Friends</h2>
        <div class="table-responsive">
        <table class="table table-hover" id="friendsTable">
            <thead>
                <tr>
                    <th>Friend</th>
                    <th>Un-Befriend?</th>
                </tr>
            </thead>
            <tbody>  
            {% for friend in friends %}
                <tr>
                    <td><a href="/author/profile/{{ friend }}">{{ friend }}</a></td>
                    <td>
                        <input class="unfriend" type="submit" value="Unfriend">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="sub-header">Following</h2>
	<div class="table-responsive">
        <table class="table table-hover" id="followingsTable">
            <thead>
                <tr>
                    <th>Following</th>
                    <th>Be Independent!</th>
                </tr>
            </thead>
            <tbody>
            {% for follow in follows %}
                <tr>
                    <td><a href="/author/profile/{{ follow }}">{{ follow }}</a></td>
                    <td>
                        <input class="unfollow" type="submit" value="UnFollow">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h2 class="sub-header">Followers</h2>
	<div class="table-responsive">
        <table class="table table-hover" id="followersTable">
            <thead>
                <tr>
                    <th>Follower</th>
		            <th> Action? </th>
                </tr>
            </thead>
            <tbody>
            {% for follower in followers %}
                <tr>
                    <td><a href="/author/profile/{{ follower }}">{{ follower }}</a></td>
                    <td>
                        <input class="befriend" type="submit" value="Befriend">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
