{% extends "user_base.html" %}

{% block body %}
    <h1 class="content-title">Friends, Following & Followers</h1>

    <h2>Your Friends</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Friend</th>
                <th>Un-Befriend?</th>
            </tr>
        </thead>
        <tbody>  
            {% for friend in friends %}
            <tr>
                <td><a href="#">{{ friend.user.username }}</a></td>
                <td>
                    <form> <!-- action, method -->
                        <input type="hidden" name="authorid" value="actualaid">
                        <input type="submit" class="danger" value="Un-befriend">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Following</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Following</th>
                <th>Be Independent!</th>
            </tr>
        </thead>
        <tbody>
            {% for follow in follows %}
            <tr>
                <td><a href="#">{{ follow }}</a></td>
                <td>
                    <form> <!-- action, method -->
                        <input type="hidden" name="authorid" value="actualaid">
                        <input type="submit" class="danger" value="UnFollow">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Followers</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Follower</th>
            </tr>
        </thead>
        <tbody>
            {% for follower in followers %}
            <tr>
                <td><a href="#">{{ follower }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
