{% extends "user_base.html" %}

{% block body %}
    <script src="{{STATIC_URL}}js/comments.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /* the CSRF stuff is from:
             * https://docs.djangoproject.com/en/1.6/ref/contrib/csrf/#ajax
             * TODO: find a better way to do this cleanly...
             */
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            // Adding comment button listener
            $(".makeComment").on("click", putComment);
        });

        /* Clears fields to make a new post in */
        function clearFields() {
                $("#title").val('');
                $("#description").val('');
                $("#content").val('');
                $("#categories").val('');
                $("#visibility").val('PRIVATE');
                $("#visibilityExceptions").val('');
                $("#content-type").val('text/plain');
                $("#image").val('');
        }

        /* Creates html for a new post */
        function addPost(post) {
            var content = post["content"];
            var contentType = post["contentType"];
            var title = post["title"];
            // var source = post["source"]; TODO XXX:add source field
            var origin = post["origin"];
            var description = post["description"];
            var author = post["author"];
            var categories = post["categories"];
            var comments = post["comments"];
            var pubDate = post["pubDate"];
            var guid = post["guid"];
            var visibility = post["visibility"];
            var images = post["images"];

            // deal with categories
            var catHTML = "";
            if (categories.length > 0) {
                var postWidth = '<div class="col-sm-8 col-md-10">';
                catHTML += '<div class="col-sm-4 col-md-2 text-right">';
                // building html for categories
                for (cat in categories) {
                catHTML += '<span class="label label-default">'
                    +   categories[cat] + '</span>';
                }
                catHTML += '</div>';
            } else {
                var postWidth = '<div class="col-sm-12">';
            }

            // deal with images
            var imagesHTML = "";
            var contentSize = "";
            if (images.length > 0) {
                contentSize = '<div class="col-sm-8 col-lg-9" id="'+guid+'">';
                imagesHTML += '<div class="col-sm-4 col-lg-3 text-center">'
                  + '<div class="well">';
                for (img in images) {
                  imagesHTML += '<a href="' + images[img]["url"]+'/'
                          + '?{% now "U" %}" target="_blank">'
                          + '<img class="img-responsive-horizontal"'
                          + 'src="' + images[img]["url"]+'/'
                          + '?{% now "U" %}"/></a>';
                }
                imagesHTML += '</div></div>';

            } else {
                contentSize = '<div class="col-sm-12" id="'+guid+'">';
            }

            var commentsHTML = "";
            // deal with comments
            for (comment in comments) {
                commentsHTML += '<tr>'
                    + '<td><small>'
                    +  '<a href="/author/' +comments[comment]["author"]["id"] + '/">'
                    +    '<strong>' + comments[comment]["author"]["displayname"]
                    +    '</strong>'
                    +  '</a> on ' + comments[comment]["pubDate"] + '</small>'
                    + ': ' + comments[comment]["comment"] + '</td></tr>';
                    + '</td></tr>';
            }

           // add new post to stream
           $(".stream-title").after('<div class="row">'
                +  '<div class="col-md-12">'
                +   '<div class="panel panel-default">'
                +      '<div class="panel-heading">'
                +        '<div class="row">'
                +         postWidth
                +         '<h4><strong>' + title + '</strong></h4>'
                +         '<h5>' + description + '</h5>'
                +         '</div>'
                +         catHTML
                +       '</div>'
                +      '</div>'
                +      '<div class="panel-body">'
                +        '<div class="row">'
                +          contentSize
                +          '</div>'
                +           imagesHTML
                +        '</div>'
                +      '</div>'
                +      '<div class="panel-footer">'
                +        '<div class="row">'
                +          '<div class="col-sm-4">'
                +            'by <a href="/author/' + author["id"] + '/">'
                +               '<strong>' + author["displayname"] + '</strong>'
                +               '</a>'
                +            ' on ' + pubDate
                +          '</div>'
                +          '<div class="col-sm-8 text-right">'
                +            '<a href="' + origin + '" class="text-muted">'
                +              origin
                +            '</a>'
                +          '</div>'
                +        '</div>'
                +      '</div>'
                +      '<table class="table ' + guid + '">'
                +        '<tbody>'
                +         commentsHTML
                +        '</tbody>'
                +      '</table>'
                +      '<div class="panel-footer">'
                +        '<form id="' + guid + '" role="form">'
                +          '<div class="form-group">'
                +            '<input type="text" class="form-control ' + guid 
                +             ' placeholder="Make a new comment..." required/>'
                +          '</div>'
                +          '<div class="form-group">'
                +            '<input id="' + guid + '" type="button" '
                +               'class="makeComment new" value="Comment"/>'
                +          '</div>'
                +        '</form>'
                +      '</div>'
                +    '</div>'
                +  '</div>'
                + '</div>');
                $(".new").on("click", putComment );
        }

        // adds the post content depending on content-type
        function addContent(content, contentType, guid) {
           // Convert content to from markdown to html if needed
            if (contentType === "text/x-markdown") {
                convert = new Markdown.getSanitizingConverter().makeHtml;
                content = convert(content);
            }

            if (contentType === "text/plain") {
                $("#"+guid).text(content);
            } else {
                $("#"+guid).html(content);
            }

        }

        /**
         * Generates a GUID string
         * @returns {String} The generated GUID.
         * @example af8a8416-6e18-a307-bd9c-f2c947bbb3aa
         * @author Slavik Melster (slavik@meltser.info),
         *link http://slavik.meltser.info/?p=142
         */
        function generateGUID() {
            function _p8(s) {
                var p = (Math.random().toString(16)+"000000000").substr(2,8);
                return s ? "-"  + p.substr(0,4) + "-" + p.substr(4,4): p;
            }
            return _p8() + _p8(true) + _p8(true) + _p8();
        }

        var handleMakePost = function() {
            var guid = generateGUID();
            var imageIds = "";

            $("input:checked").each(
              function() {
                imageIds += $(this).val() + " ";
                /* Do not allow user to associate this image with another post */
                $(this).parent().remove();
              });

            var postData = {
                "guid": guid,
                "title": $("#title").val(),
                "text": $("#description").val(),
                "content": $("#content").val(),
                "description": $("#description").val(),
                "categories": $("#categories").val(),
                "visibility": $("#visibility").val(),
                "visibilityExceptions": $("#visibilityExceptions").val(),
                "content-type": $("#content-type").val(),
                "image-ids" : imageIds.trim(),
            };

            var JSONPostData = JSON.stringify(postData);

            clearFields();
            query = "?id="+$("#author_guid").val();

            /* Send an ajax PUT request to 
             * http://cs410.cs.ualberta.ca/post/<post_id> 
             * with the post id in the uri,
             * and a json representation of the post in the request
             * body. The post will either be created if it doesn't
             *
             * exist yet, or updated if it does exist.
             * In the response, the new post will be returned in 
             * the body so it can be dynamically added to the html page.
             * 
             * eg. json post
             * {"guid": "fa9fd4fc-ca64-4a31-adf8-c92f028bdc24",
             *  "title":"the post",
             *  "description": "a post",
             *  "content": "the best post ever!"}
             *   
             * Because the inputs the user uses to type in post data,
             * content and title are required, but if sending a request
             * using curl or anything that is not the browser, these
             * fields are not required.
             */
            $.ajax({
                type: "PUT",
                url: location.origin+"/api/post/"+guid+query,
                data: JSONPostData,
                dataType: "json",
                contentType: "application/json",
                success: function(response) {
                    addPost(response[0]);
                    addContent(response[0]["content"],
                               response[0]["content-type"],
                               response[0]["guid"]);
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });

            return false;
        };
    </script>

<input type="hidden" id="author_guid" value="{{ author_id }}"/>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-md-12"><p></p></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" onSubmit="return handleMakePost()">
                <div class="panel panel-default">
                  {% csrf_token %}
                  <div class="panel-heading">
                      <h4><strong>Make New Post</strong></h4>
                  </div>
                  <div class="panel-body">
                      <div class="form-group">
                          <label for="title" class="col-sm-3 col-md-2 col-lg-2 control-label">Title:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10">
                              <input type="text" class="form-control" id="title" name="title" required/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="description" class="col-md-2 col-sm-3 col-lg-2 control-label" style="overflow: hidden; word-wrap: break-word;">Description:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10">
                              <input type="text" class="form-control" id="description" name="description"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="content" class="col-sm-3 col-md-2 col-lg-2 control-label">Content:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10">
                              <textarea class="form-control" id="content" name="content"
                               placeholder="Make a new post..." required></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="categories" class="col-sm-3 col-md-2 col-lg-2 control-label">Categories:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10">
                              <input type="text" class="form-control" id="categories" name="categories" placeholder="Enter categories separated by spaces"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="image" class="col-sm-3 col-md-2 col-lg-2 control-label">Images:</label>
                          <div class="col-sm-9 col-md-10 col-lg-10" id="unlinked-images-checkboxes">
                          {% if unlinked_images %}
                            {% for image in unlinked_images %}
                              <label class="checkbox-inline">
                                <input type="checkbox" id="unlinked-image-{{ image.id }}"
                                 name="unlinked-image" value="{{ image.id }}">
                                  {{ image.name|slice:"37:" }}
                                </input>
                                <a href="{{ image.url }}?{% now 'U' %}" target="_blank">View</a>
                              </label>
                            {% endfor %}
                          {% else %}
                            <p class="form-control-static">Upload some images <a href="{% url 'images.views.uploadImage' %}">here</a>!</p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="form-group" id="privacyOptions">
                          <label for="visibility" class="control-label col-sm-3 col-md-2 col-lg-2">Viewable by:</label>
                          <div class="col-sm-3 col-md-2 col-lg-2">
                            <select id="visibility" name="visibility" class="form-control">
                            {% for option in visibilities %}
                                <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          <label for="visibilityExceptions" class="control-label col-sm-1 col-lg-1" style="text-align: center">and</label>
                          <div class="col-sm-3 col-md-4">
                              <input type="text" class="form-control"
                               id="visibilityExceptions"
                               name="visibilityExceptions"
                               placeholder="Enter names(s) separated by spaces"/>
                          </div>
                      </div>
                      <div class="form-group" id="visibilityOptions">
                      </div>

                      <div class="form-group" id="contentTypeOptions">
                          <label for="content-type" class="col-sm-3 col-md-2 col-lg-2 control-label">Format:</label>
                          <div class="col-sm-2 col-md-2">
                              <select id="content-type" name="content-type" class="form-control">
                              {% for type in contentTypes %}
                                  <option value="{{ type.0 }}">{{ type.1 }}</option>
                              {% endfor %}
                              </select>
                          </div>
                          <div class="col-sm-offset-5 col-sm-1 col-md-offset-6 col-lg-offset-8">
                              <input type="submit" id="makePost" value="Post"/>
                          </div>
                      </div>
                  </div>
                </div>
            </form>
        </div>
     </div>
    <div class="row stream-title">
        <div class="col-md-12">
            <header>
                <h3>My Stream \o/</h3>
            </header>
        </div>
    </div>

    {% include 'fragments/post_content.html' %}
</div>
{% endblock %}
