<div class="post">   
<div class="panel panel-default clear-left">
    <!-- Default panel contents -->
    <div class="panel-heading span"><p>The Cow</p>
        <span class="date"> March 2, 2014</span>
    </div>
    <div class="panel-body span">
        <p>This is the best post evvvvvaaaa</p>
    </div>

    <!-- QUERY DATABASE HERE -->
    <table class="table">
        <tbody>
        <tr>
	    <td>{NAME}: This should be replaced by a for loop</td>
        </tr>
        <tr>
	    <td>{NAME2}: This one just needs to be long enough for testing purposes, so
	   sadly, it is actually kinda boring. I wonder when it iwll hit the end
	   of the page on the browser...
	   I nnnneeeeedd this to be lloooonnnngg</td>
        </tr>
        <tr>
        <td> 
	    <form role="form">
	    <div class="form-group span">
	        <input type="text" class="form-control" name="newComment"
		      placeholder="Make a new comment..."/>	       
	        <input type="submit" value="Comment" class="float-right"/>
	    </div>
	    </form>
        </tbody>
    </table>
    </div>
</div>
