{% for post, author, comments, categories, visibilityExceptions in posts %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if post.title %}
        <h4><strong>{{ post.title }}</strong></h4>
        {% endif %}
        {% if post.description %}
        <h5>{{ post.description }}</h5>
        {% endif %}
      </div>
      <div class="panel-body">
        <div class="row">
          {% if categories %}
          <div class="col-sm-8 col-md-10">
          {% else %}
          <div class="col-sm-12">
          {% endif %}
            {% if post.contentType == post.HTML or post.contentType == post.MARKDOWN %}
                {% autoescape off %}
                  {{ post.content }}
                {% endautoescape %}
            {% else %}
                {{ post.content|linebreaks }}
            {% endif %}
          </div>
          {% if categories %}
          <div class="col-sm-4 col-md-2">
            {% for c in categories %}
            <span class="label label-default">{{ c.name }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4">
            by <a href="{% url 'author.views.profile' author.author_id %}">
                <strong>{{ author.user.username }}</strong>
              </a>
            on {{ post.pubDate }}
          </div>
          <div class="col-sm-8 text-right">
            <a href="{{ post.origin }}" class="text-muted">
              {{ post.origin }}
            </a>
          </div>
        </div>
      </div>
      <table class="table">
        <tbody>
          {% for comment in comments %}
          <tr>
            <td><small>
              <a href="{% url 'author.views.profile' comment.author.author_id %}">
                <strong>{{comment.author.user.username}}</strong>
              </a> on {{comment.pub_date}}:</small> {{comment.comment}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="panel-footer">
        <form role="form" method="POST"
         action="{% url 'comments.views.add_comment' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" name="post_id" value="{{post.id}}" />
            <input type="text" class="form-control" name="newComment"
             placeholder="Make a new comment..." required/>
          </div>
          <div class="form-group">
            <input type="submit" value="Comment"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
