
{% for post, comments in posts %}
  <div class="panel panel-default col-md-12 post">
    <!-- Default panel contents -->
    <div class="panel-heading"><p> {{ post.author.user.username }}
      <span class="date"> {{ post.date_created }} </span></p>
    </div>
    <div class="panel-body">
      <p>{{ post.content }} </p>
    </div>
    
    <table class="table">
      <tbody>
        {% for comment in comments %}
	<tr>
	  <td>{{comment.comment_auth.user.username}}: 
	    {{comment.comment_text}}</td>
        </tr>
	{% endfor %}
        <tr>
          <td> 
	    <form role="form" method="POST" action="/comments/add_comment/">
	      <div class="form-group span">
		{% csrf_token %}
		<input type="hidden"
		       name="post_id"
		       value="{{post.id}}" />
	        <input type="text" 
		       class="form-control" 
		       name="newComment" 
		       placeholder="Make a new comment..."/>	       
	        <input type="submit" value="Comment"/>
	      </div>
	    </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfor %}
