{% extends "user_base.html" %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% block side-nav %} {% endblock %}

{% block body %}
<div class="regist form-box"> 
    <form method="POST" action="/login/register/">
        {% csrf_token %}
        <p>Username:</p> <input type="text" name="username" size="20" /><br />
        <p>Password:</p> <input type="password" name="password1" size="20" /><br />
        <p>Confirm Password:</p> <input type="password" name="password2" size="20" /><br />
        <div id="divRegistrationStatus">{{ registrationStatus }}</div><br />
        <input type="submit" value="Register" />
    </form>
</div>

<script>
    function checkPasswordsMatch() {
        if ($("[name='password1']").val() != $("[name='password2']").val())
            $("#divRegistrationStatus").html("Passwords don't match!");
        else
            $("#divRegistrationStatus").html("Passwords match!");
    }

    $(document).ready(function() {
        $("[name='password2']").keyup(checkPasswordsMatch);
        $("[name='password1']").keyup(checkPasswordsMatch);
    });
</script>

{% endblock %}
