{% extends "user_base.html" %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="content-title">My Posts</h1>

    {% if posts %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
            <th>Categories</th>
            <th>Visibility</th>
            <th>Visibility Exceptions</th>
            <th>Date</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tbody>
        {% for post, comments, categories, visibilityExceptions in posts %}
          <tr>
            <td>
              <a href="{% url 'post.views.handlePost' post.guid %}">
                {{ post.title }}
              </a>
            </td>
            <td>
              <a href="{% url 'post.views.handlePost' post.guid %}">
                {{ post.description }}
              </a>
            </td>
            <td>
              <a href="{% url 'post.views.handlePost' post.guid %}">
                {% if post.contentType == post.HTML or post.contentType == post.MARKDOWN %} 
                  {% autoescape off %}
                    {{ post.content }}
                  {% endautoescape %}
                {% else %}
                  {{ post.content|linebreaks }}
                {% endif %}
              </a>
            </td>
            <td>
            {% for c in categories %}
              <span class="label label-default">{{ c.name }}</span>
            {% endfor %}
            </td>
            <td>
              {{ post.get_visibility_display }}
            </td>
            <td>
            {% for a in visibilityExceptions %}
              <a href="{% url 'author.views.profile' a.author_id %}">{{ a }}</a>
            {% endfor %}
            </td>
            <td>{{ post.pubDate }}</td>
            <td>
              <form action="{% url 'post.views.deletePost' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.guid }}">
                <input type="submit" class="danger" value="Delete">
              </form>
            </td>
          </tr>
         {% endfor %}
         </tbody>
      </table>
    </div>
    {% else %}
    <p class="lead">
      You have no posts! Go make a new post in your
      <a href="{% url 'author.views.stream' %}">Stream!</a>
    </p>
    {% endif %}
</div>
{% endblock %}
