{% extends "user_base.html" %}

{% block body %}
    <section>
    <h1 class="content-title">Your Posts</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Content</th>
            <th>Date</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
            {%  %}
            {% for post in posts %}
            <tr>
                <td> {{ post.content }} </td> 
                <td> {{ post.date_created }} </td>
                <td>
                    <form method="post" action="/posts/delete_post/"> 
                        {% csrf_token %} 
                        <input type="hidden" name="pid" value="actualpid">
                        <input type="submit" class="danger" value="Delete Post">
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    </section>
{% endblock %}
