/*  Colour scheme basis from:
    http://colorschemedesigner.com/#0P51TmapJw0w04A1-j
*/

html, body {
    height: 100%;
    margin-top: 0%;
    padding-top: 0%;
}

/* General classes styling */
.clear-left {
    clear: left;
}

.clear-right { 
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline {
    display: inline;
}

.span {
    width: 100%;
}

.form-group {
    margin-right: 2%;
}

.input-group {
   margin-right: 2%;
}

input:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0%;
}

.form-box input:not([type='submit']){
    margin-bottom: 2%;
    width: 78%;
    border-radius: 15px;
} 

/* side nav styling */
div.side-nav {
    float: left;
    width: 18%;
    /*min-width: 228px;*/
    height: 100%;
    background-color: rgb(228,199,143); /* nav background color, light cream */
}

div.side-nav li a{
    color: rgb(130, 75, 20);    /* Medium brown colour  */
    padding-left: 7%;
}

li.active > a:focus {
    background-color: #D4B775; /* light cream  */
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: rgb(205, 151, 63); /* medium orange brown */
    color: white;
}

.nav-title {
    color: rgb(130, 75, 20);    /* Medium brown colour  */
    margin-left: 3%;
}

/* Login side nav styling */
.login {
    padding: 5% 1% 1% 5%;
    width: 97%;
}

.login p {
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Registration Page Styling - Centering the page  */

.regist {
    margin: 10% 0% 0% 50%;
    padding: 2% 5% 2% 5%;
    border: solid rgb(130, 75, 20) 2pt;    /* Medium brown colour  */
    background-color: rgb(228,199,143); /* nav background color, light cream */
}

.regist input[type=text] {
    margin-bottom: 2%;
    margin-top: 0;
}

.regist input {
    margin-bottom: 3%;
}

.regist p {
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Header styling */
.page-header {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #855A14;
    color: white;
    padding-left: 1%;
}

.page-header h1 {
    color: white;
    padding-top: 2%;
    margin-top: 0;
}

.page-header h1 small {
    color: #BC956A;
}


/* Main section, "content", styling */
div.content {
    font-color: black;
    width: 78%;
    float: left;
}

div.content section {
    padding: 1% 2% 2% 2%;
}
 

div.content header h1 {
    float: left;
    clear: right;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 250px;
}

div.profile-img {
    margin: 0 4% 4% 0;
}

div.profile-img img{
    width: 200pt;
    height: 200pt;
}

div.content div {
    float: left;
}

/* Id element stlying */
.button-links {
    z-index: -1;
    float: right;
    margin: 1% 2% 0 0;
}

div#privacyOptions {
    margin-right: 2%;
}

div.post {
    text-align: left;
    width: 100%;
    float: left;
    clear: left;
}

div.post p, div.post {
    float: left;
    clear: left;
}

div.post .date {
    float: right;
}

.panel-heading {
    padding-bottom: 0;
}

/* Search box styling */
.form-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-box input[type='search'] {
    margin: 8% 1% 8% 2%;;
}

.search-hr {
    margin-top: 0;
    width: 88%;
}

/* *** Tables *** */
table {
    background-color: #FAFBD2;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Overridding Bootstraps' CSS: division between head and body  */
table > thead > tr > th {
    border-bottom: 2px solid #855A14; /* Faded Brown */
}

/* Table Links  */
table a {
    color: rgb(165, 116, 38); /* faded med-dark orange brown */
}

table a:hover, table a:visited {
    color: rgb(205, 151, 63); /* medium orange brown */
    text-decoration:none;
}

/* Changed table hover colour  */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #F5ECAC;
}


/* Buton and input styling */
input {
    background-color: #FCF5CA;
}

/*  Button Sets!
    Based off of: http://hellohappy.org/css3-buttons/ 
    Modified to give warning buttons a red-ish theme instead of a blue theme
    Also split up to make different coloured buttons

    By default, some yellow-creamy colour
*/
input[type=submit] {
    background-color: #E6CC6F;
    background-image: -moz-linear-gradient(center top, #E6D38E, #E6CC6F);
    border-width: 1px;
    border-style: solid;
    border-radius: 12pt;
    border-color: #957D24 #8F7820 #856D20; /* top, side, bottom border */
    box-shadow: 0px 4px 0px 0px #F6E39E inset; /* Create top button hilight */
    font: 10pt "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0px 1px 1px rgb(255, 255, 255);
    padding: 5pt 10pt 5pt 10pt;
}

input[type=submit]:hover {
    background-color: #CDAF3F;
    background-image: -moz-linear-gradient(center top, #E6CC6F, #CDAF3F);
    border-width: 1px;
    border-style: solid;
    border-color: #904D3D #864737 #804131;
    box-shadow: 0px 4px 0px 0px #F0E090 inset; /* Create top button hilight */
}

/* Dangerous buttons are...dangerously red coloured! */
input[type=submit].danger {
    background-color: #CD5A3F;
    background-image: -moz-linear-gradient(center top, #E69B6F, #CD5A3F);
    border-color: #9C5A4A #935040 #904D3D; /* top, side, bottom border */
    box-shadow: 0px 4px 0px 0px #FAB19F inset; /* Create top button hilight */
}

input[type=submit].danger:hover {
    background-color: #CD5A3F;
    background-image: -moz-linear-gradient(center top, #E5966A, #C05030);
    border-color: #904D3D #864737 #804131;
    box-shadow: 0px 4px 0px 0px #FAb19F inset; /* Create top button hilight */
}
