html, body {
    height: 100%;
    margin-top: 0%;
    padding-top: 0%;
}

/* General classes styling */
.clear-left {
    clear: left;
}

.clear-right { 
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* side nav styling */
div.side-nav {
    float: left;
    width: 18%;
    /*min-width: 228px;*/
    height: 100%;
    background-color: rgb(223, 229, 184); /* nav background color, light cream */
}

div.side-nav li a{
    color: rgb(185, 125, 52);
    padding-left: 7%;
}

li.active > a:focus {
    background-color: rgb(212, 183, 117);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: rgb(223, 229, 184);
    background-color: rgb(205, 151, 63); /* medium orange brown */
}

.nav-pills > li >a:hover {
    background-color: rgba(253, 251, 236, .5);
}

.nav-title {
    color: rgb(185, 125, 52);
    margin-left: 3%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
}

/* Header styling */
.page-header {
    margin-bottom: 0;
    margin-top: 0;
    background-color: rgb(138,93,54); /* choco brown */
    color: white;
    padding-left: 1%;
}

.page-header h1 {
    color: rgb(250, 249, 239); /* Light not pink colour */
    padding-top: 2%;
}

.page-header h1 small {
    color: rgb(175, 166, 153);
}


/* Main section, "content", styling */
div.content {
    font-color: black;
    width: 78%;
    float: left;
}

div.content section {
    padding: 2% 2% 2% 2%;
}
 
div.content .content-title, 
div.content header h1 {
    padding: 2% 0 2% 0;
}

div.content header h1 {
    display: inline;
    float: left;
}


div.profile-img {
    margin: 0 4% 4% 0;
}

div.profile-img img{
    width: 200pt;
    height: 200pt;
}

div.content div {
    float: left;
}

div.content {

}

/* Search box styling */
div.search-box input{
    margin: 5% 1% 10% 2%;;
    width: 78%;
    border-radius: 15px;
    padding-left: 4%;
}

div.search-box input:focus {
    outline: 0;
}

.search-hr {
    margin-top: 0;
    width: 88%;
}
